<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document title="demo.jspx" id="d1">
            <af:messages id="m1"/>
            <af:form id="f1">
                <af:panelFormLayout id="pfl1">
                    <af:inputText value="#{bindings.nameId.inputValue}" label="#{bindings.nameId.hints.label}"
                                  required="#{bindings.nameId.hints.mandatory}"
                                  columns="#{bindings.nameId.hints.displayWidth}"
                                  maximumLength="#{bindings.nameId.hints.precision}"
                                  shortDesc="#{bindings.nameId.hints.tooltip}" id="it1">
                        <f:validator binding="#{bindings.nameId.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.email.inputValue}" label="Manager"
                                  required="#{bindings.email.hints.mandatory}"
                                  columns="#{bindings.email.hints.displayWidth}"
                                  maximumLength="#{bindings.email.hints.precision}"
                                  shortDesc="#{bindings.email.hints.tooltip}" id="it2" readOnly="true">
                        <f:validator binding="#{bindings.email.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.phoneNumber.inputValue}" label="Manager Phone"
                                  required="#{bindings.phoneNumber.hints.mandatory}"
                                  columns="#{bindings.phoneNumber.hints.displayWidth}"
                                  maximumLength="#{bindings.phoneNumber.hints.precision}"
                                  shortDesc="#{bindings.phoneNumber.hints.tooltip}" id="it3" readOnly="true">
                        <f:validator binding="#{bindings.phoneNumber.validator}"/>
                    </af:inputText>
                    <af:inputDate value="#{bindings.hireDate.inputValue}" label="Manager Hire Date"
                                  required="#{bindings.hireDate.hints.mandatory}"
                                  columns="#{bindings.hireDate.hints.displayWidth}"
                                  shortDesc="#{bindings.hireDate.hints.tooltip}" id="id1" readOnly="true">
                        <f:validator binding="#{bindings.hireDate.validator}"/>
                        <af:convertDateTime pattern="#{bindings.hireDate.format}"/>
                    </af:inputDate>
                    <af:inputText value="#{bindings.city.inputValue}" label="Location"
                                  required="#{bindings.city.hints.mandatory}"
                                  columns="#{bindings.city.hints.displayWidth}"
                                  maximumLength="#{bindings.city.hints.precision}"
                                  shortDesc="#{bindings.city.hints.tooltip}" id="it4" readOnly="true">
                        <f:validator binding="#{bindings.city.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.country.inputValue}" label="Country"
                                  required="#{bindings.country.hints.mandatory}"
                                  columns="#{bindings.country.hints.displayWidth}"
                                  maximumLength="#{bindings.country.hints.precision}"
                                  shortDesc="#{bindings.country.hints.tooltip}" id="it5" readOnly="true">
                        <f:validator binding="#{bindings.country.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.comment.inputValue}" label="#{bindings.comment.hints.label}"
                                  required="#{bindings.comment.hints.mandatory}"
                                  columns="#{bindings.comment.hints.displayWidth}"
                                  maximumLength="#{bindings.comment.hints.precision}"
                                  shortDesc="#{bindings.comment.hints.tooltip}" id="it6">
                        <f:validator binding="#{bindings.comment.validator}"/>
                    </af:inputText>
                    <f:facet name="footer">
                        <af:panelGroupLayout layout="vertical" id="pgl1">
                            <af:panelGroupLayout layout="horizontal" id="pgl2">
                                <af:button actionListener="#{bindings.First.execute}" text="First"
                                           disabled="#{!bindings.First.enabled}" partialSubmit="true" id="b1"/>
                                <af:button actionListener="#{bindings.Previous.execute}" text="Previous"
                                           disabled="#{!bindings.Previous.enabled}" partialSubmit="true" id="b2"/>
                                <af:button actionListener="#{bindings.Next.execute}" text="Next"
                                           disabled="#{!bindings.Next.enabled}" partialSubmit="true" id="b3"/>
                                <af:button actionListener="#{bindings.Last.execute}" text="Last"
                                           disabled="#{!bindings.Last.enabled}" partialSubmit="true" id="b4"/>
                            </af:panelGroupLayout>
                            <af:button text="Submit" id="b5"/>
                        </af:panelGroupLayout>
                    </f:facet>
                </af:panelFormLayout>
                <af:panelCollection id="pc1">
                    <f:facet name="menus"/>
                    <f:facet name="toolbar"/>
                    <f:facet name="statusbar"/>
                    <af:table value="#{bindings.Employee.collectionModel}" var="row"
                              rows="#{bindings.Employee.rangeSize}"
                              emptyText="#{bindings.Employee.viewable ? 'No data to display.' : 'Access Denied.'}"
                              rowBandingInterval="0" selectedRowKeys="#{bindings.Employee.collectionModel.selectedRow}"
                              selectionListener="#{bindings.Employee.collectionModel.makeCurrent}" rowSelection="single"
                              fetchSize="#{bindings.Employee.rangeSize}" id="t1">
                        <af:column headerText="#{bindings.Employee.hints.id.label}" id="c1">
                            <af:outputText value="#{row.id}" shortDesc="#{bindings.Employee.hints.id.tooltip}" id="ot1">
                                <af:convertNumber groupingUsed="false" pattern="#{bindings.Employee.hints.id.format}"/>
                            </af:outputText>
                        </af:column>
                        <af:column headerText="#{bindings.Employee.hints.firstName.label}" id="c2">
                            <af:outputText value="#{row.firstName}"
                                           shortDesc="#{bindings.Employee.hints.firstName.tooltip}" id="ot2"/>
                        </af:column>
                        <af:column headerText="#{bindings.Employee.hints.lastName.label}" id="c3">
                            <af:outputText value="#{row.lastName}"
                                           shortDesc="#{bindings.Employee.hints.lastName.tooltip}" id="ot3"/>
                        </af:column>
                        <af:column headerText="#{bindings.Employee.hints.email.label}" id="c4">
                            <af:outputText value="#{row.email}" shortDesc="#{bindings.Employee.hints.email.tooltip}"
                                           id="ot4"/>
                        </af:column>
                        <af:column headerText="#{bindings.Employee.hints.phoneNumber.label}" id="c5">
                            <af:outputText value="#{row.phoneNumber}"
                                           shortDesc="#{bindings.Employee.hints.phoneNumber.tooltip}" id="ot5"/>
                        </af:column>
                        <af:column headerText="#{bindings.Employee.hints.hireDate.label}" id="c6">
                            <af:outputText value="#{row.hireDate}"
                                           shortDesc="#{bindings.Employee.hints.hireDate.tooltip}" id="ot6">
                                <af:convertDateTime pattern="#{bindings.Employee.hints.hireDate.format}"/>
                            </af:outputText>
                        </af:column>
                        <af:column headerText="#{bindings.Employee.hints.salary.label}" id="c7">
                            <af:outputText value="#{row.salary}" shortDesc="#{bindings.Employee.hints.salary.tooltip}"
                                           id="ot7">
                                <af:convertNumber groupingUsed="false"
                                                  pattern="#{bindings.Employee.hints.salary.format}"/>
                            </af:outputText>
                        </af:column>
                        <af:column headerText="#{bindings.Employee.hints.commissionPercentage.label}" id="c8">
                            <af:outputText value="#{row.commissionPercentage}"
                                           shortDesc="#{bindings.Employee.hints.commissionPercentage.tooltip}" id="ot8">
                                <af:convertNumber groupingUsed="false"
                                                  pattern="#{bindings.Employee.hints.commissionPercentage.format}"/>
                            </af:outputText>
                        </af:column>
                        <af:column headerText="#{bindings.Employee.hints.Job.id.label}" id="c9">
                            <af:outputText value="#{row.Job.bindings.id.inputValue}"
                                           shortDesc="#{bindings.Employee.hints.Job.id.tooltip}"
                                           rendered="#{row.Job != null}" id="ot9"/>
                        </af:column>
                        <af:column headerText="#{bindings.Employee.hints.Job.title.label}" id="c10">
                            <af:outputText value="#{row.Job.bindings.title.inputValue}"
                                           shortDesc="#{bindings.Employee.hints.Job.title.tooltip}"
                                           rendered="#{row.Job != null}" id="ot10"/>
                        </af:column>
                        <af:column headerText="#{bindings.Employee.hints.Job.minSalary.label}" id="c11">
                            <af:outputText value="#{row.Job.bindings.minSalary.inputValue}"
                                           shortDesc="#{bindings.Employee.hints.Job.minSalary.tooltip}"
                                           rendered="#{row.Job != null}" id="ot11">
                                <af:convertNumber groupingUsed="false"
                                                  pattern="#{bindings.Employee.hints.Job.minSalary.format}"/>
                            </af:outputText>
                        </af:column>
                        <af:column headerText="#{bindings.Employee.hints.Job.maxSalary.label}" id="c12">
                            <af:outputText value="#{row.Job.bindings.maxSalary.inputValue}"
                                           shortDesc="#{bindings.Employee.hints.Job.maxSalary.tooltip}"
                                           rendered="#{row.Job != null}" id="ot12">
                                <af:convertNumber groupingUsed="false"
                                                  pattern="#{bindings.Employee.hints.Job.maxSalary.format}"/>
                            </af:outputText>
                        </af:column>
                    </af:table>
                </af:panelCollection>
            </af:form>
        </af:document>
    </f:view>
</jsp:root>
